# This file is a "template" of what your application.yml file should look like
spring.profiles:
  active: h2,jwt
#  active: mysql
server:
  port: 8086

---

spring:
  profiles: mysql
  datasource:
    url: jdbc:mysql://HOST:PORT/DB?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

---

spring:
  profiles: h2
  datasource:
    username: sa
    password:
    url: jdbc:h2:mem:testdb
  h2:
    console:
      path: /h2
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

---

spring:
  profiles: jwt
jwt:
  header: Authorization
  secret: changeit
  expiration: 604800
  route:
    authentication:
      path: auth
      refresh: refresh
